extends layout.pug

block content
  div 
    p=video.description
    small #{video.views || 0 } #{video.views === 1 ? "view" : "views"}
    br
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;